%li.troop-type{ :id => "troop-type-#{troop_type.name.downcase}", "data-id" => troop_type.id }
  %h3.handle
    = troop_type.name
    = link_to "Edit", edit_troop_type_path(troop_type), :class => "dialog"
    = link_to "X", troop_type_path(troop_type), :method => "delete", :confirm => "Are you sure?"
  %ul
    - troop_type.troops.each do |troop|
      = render troop
