%h1 Listing troop_types

%table
  %tr
    %th Name
    %th Percentage
    %th
    %th
    %th

  - @troop_types.each do |troop_type|
    %tr
      %td= troop_type.name
      %td= troop_type.percentage
      %td= link_to 'Show', troop_type
      %td= link_to 'Edit', edit_troop_type_path(troop_type)
      %td= link_to 'Destroy', troop_type, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Troop type', new_troop_type_path
