%p#notice= notice

.header 
  Welcome

  = link_to 'Add Troop Type', troop_types_path
  = link_to 'Add Troop', new_troop_path

  .total_points
    Total Points: 
    = Troop.total_points

.troop-types
  - troop_types.each do |troop_type|
    .troop-type{ :id => "troop-type-#{troop_type.name.downcase}" }
      %h3= troop_type.name
      %ul
        - troop_type.troops.each do |troop|
          %li.troop
            .count
              = troop.count
            .name
              = troop.name
            .points
              = troop.base_points
              - if troop.point_type == :group
                pts/per
              - else
                pts
