- content_for :javascripts do
  = javascript_include_tag 'home'

%p#notice= notice

.header 
  Welcome

  = link_to 'Add Troop Type', new_troop_type_path
  = link_to 'Add Troop', new_troop_path

  .total_points
    Total Points: 
    = Troop.total_points

%ul.troop-types#troop-type-sort
  - troop_types.each do |troop_type|
    = render troop_type
