%p#notice= notice

.header 
  Welcome

  = link_to 'Add Troop Type', troop_types_path
  = link_to 'Add Troop', new_troop_path

  .total_points
    Total Points: 
    = Troop.total_points

.troop-types
  - troop_types.each do |troop_type|
    .troop-type{ :id => "troop-type-#{troop_type.name.downcase}" }
      %h3= troop_type.name
      %ul
        - troop_type.troops.each do |troop|
          %li.troop
            %div
              %h4
                = link_to troop.name, '#', :id => "#{troop.css_selector}-button" 
                .count
                  = troop.count
              :javascript
                $('##{troop.css_selector}-button').click(function(){
                  $('##{troop.css_selector}').toggle('blind');
                });
              %div{:id => troop.css_selector }
                .delete
                  = button_to('Delete', troop_path(troop), :confirm => 'Are you sure?', :method => "delete")
                .name
                  = link_to "Edit #{troop.name}", edit_troop_path(troop)
                .points
                  = troop.base_points
                  - if troop.point_type == :group
                    pts/per
                  - else
                    pts
                .options
                  = link_to 'Add option', new_troop_option_path(troop)
                  %h5 Options
                  - if troop.options.count == 0
                    None
                  - else
                    %ul
                      - troop.options.each do |option|
                        %li
                          .points
                            = option.points
                            - if option.type == :single
                              pts
                            - else
                              = "pts/per #{troop.name}"
                          .name
                            = option.name
