= form_for troop do |f|
  -if troop.errors.any?
    #error_explanation
      %h2= "#{pluralize(troop.errors.count, "error")} prohibited this troop_type from being saved:"
      %ul
        - troop.errors.full_messages.each do |msg|
          %li= msg


  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :base_points, "Base Points"
    = f.text_field :base_points
  .field
    = f.label :count
    = f.text_field :count
  .field
    = f.label :point_type_id, "Point Type"
    = f.select(:point_type_id, Troop.point_types, :prompt => true)
  .field
    = f.label :troop_type_id, "Troop Type"
    = f.collection_select(:troop_type_id, troop_types, :id, :name, :prompt => true)

  %br

  = f.submit save_button_text
