%li.troop
  %div
    %h4
      = link_to troop.name, '#', :id => "#{troop.css_selector}-button", :class => 'troop-button'
      .count
        = troop.count
    %div.troop-content{ :id => troop.css_selector, "data-id" => troop.id, :style => "display: #{troop.display_status }" }
      .delete
        = button_to('Delete', troop_path(troop), :confirm => 'Are you sure?', :method => "delete")
      .name
        = link_to "Edit #{troop.name}", edit_troop_path(troop), :class => "dialog"
      .points
        = troop.base_points
        - if troop.point_type == :group
          pts/per
        - else
          pts
      .options
        = link_to 'Add option', new_troop_option_path(troop), :class => "dialog"
        %h5 Options
        - if troop.options.count == 0
          None
        - else
          %ul
            - troop.options.each do |option|
              %li
                .delete
                  = link_to "X", troop_option_path(troop, option), :method => 'delete', :confirm => "Are you sure?"
                .points
                  = option.points
                  - if option.type == :single
                    pts
                  - else
                    = "pts/per #{troop.name}"
                .name
                  = link_to option.name, edit_troop_option_path(troop, option), :class => "dialog"
